* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 100%;
  height: auto;
}
#content {
  padding-top: 100px;
  width: 100%;
  height: 900px;
  text-align: center;
}
#topMenu {
  margin: 0px auto;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topMenu > div {
  border-bottom: 3px double rgba(61, 60, 60, 0.493);
}
#topMenu > #back{
  border-bottom: 3px solid rgb(1, 61, 160);
}
#back{
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 30;
}
#topMenu > div > button {
  width: 30px;
  height: 30px;
  border: none;
  background: url("../image/back_button.png")  no-repeat left;
  background-size: contain;
  z-index: 20;
  cursor: pointer;
}
#box1{
  width: 160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box2{
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
}
#textbox{
  width: 440px;
  height: 600px;
  margin: 0px auto;
}
#textbox > h1 {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 400px;
  margin: 0px auto;
}
input[type=checkbox]{
  display: none;
}
input[type=checkbox] + label {
    display:none;
    width: 400px;
    padding-left: 35px;
    margin: 30px; 
    background-repeat: no-repeat;
    background-image: url('../image/check_none.png');
    background-size: contain;
    display: flex;
}
input[type='checkbox']:checked +label{
  background-image: url('../image/check_checked.png');
}
#textbox > p{
  width: 400px;
  text-align: left;
  padding-left: 65px;
  color: rgba(32, 32, 32, 0.555);
}
#textbox > div > a {
  display: flex;
  float: right;
}
#but{
  position: relative;
  bottom: 1px;
}
#but > a > button{
  width: 400px;
  height: 70px;
  background-color: rgba(48, 48, 49, 0.384);
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}
