* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
#container{
  width: 100%;
  height: auto;
}
#content {
  width: 100%;
  height: 8  00px;
  text-align: center;
}
#logoImg{
  padding: 10px 10px;
  position: relative;
}
#logo_img{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
#logo_img > img{
  position: relative;
  top: 200px;
}
#log {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#log > a > div{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgba(139, 131, 131, 0.5);
  box-shadow: 1px 1px 2px 1px #000;
  margin: 10px;
  float: left;
  overflow: hidden;
}
#logkakao{
  width: 65px;
  height: 65px;
  background: url("../image/kakao_icon.png") no-repeat left;
  background-size: cover;
}
#lognaver{
  width: 65px;
  height: 65px;
  background: url("../image/navericon.png") no-repeat left;
  background-size: cover;
}
#logfacebook{
  width: 65px;
  height: 65px;
  background: url("../image/facebook_icon.png") no-repeat left;
  background-size: cover;
}
#loggoogle{
  width: 65px;
  height: 65px;
  background: url("../image/google_icon.png") no-repeat left;
  background-size: cover;
}
#form > a{
  text-decoration: none;
}
#form > a > button{
  width: 400px;
  height: 50px;
  font-size: 24px;
  display: block;
  border-radius: 10px;
  margin: 20px auto;
  border: none;
}
#bt1 {
  background-color: rgb(1, 69, 160);
  color: #fff;
}
#bt1:hover{
  background-color: rgb(1, 69, 130);
}
#bt2 {
  background-color: #fff;
}
#bt2:hover{
  background-color: rgba(0, 0, 0, 0.034);
}