* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
#container{
  width: 100%;
  height: auto;
}
#content {
  width: 100%;
  height: 900px;
  text-align: center;
}
#topMenu {
  margin: 0px auto;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topMenu > div , #topMenu > button{
  position: relative;
  transform: translateY(100px);
}
#back{
  width: 120px;
  height: 70px;
  display: flex;
  align-items: center;
}
#topMenu > button {
  width: 30px;
  height: 30px;
  border: none;
  background: url("../image/back_button.png")  no-repeat left;
  background-size: contain;
  z-index: 10;
}
#box1{
  width: 160px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box2{
  width: 120px;
  height: 70px;
  display: flex;
  align-items: center;
}

#logoImg{
  padding: 10px 10px;
  position: relative;
}
#logo_img{
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
#logo_img > img{
  position: relative;
  top: 130px;
}
#form > button, #form input{
  width: 400px;
  height: 70px;
  font-size: 24px;
  display: block;
  border-radius: 10px;
  margin: 20px auto;
  border: none;
}
#form > input{
  border: 2px solid rgba(68, 63, 63, 0.267);
}
#bt1 {
  background-color: rgb(1, 69, 160);
  color: #fff;
}
#bt1:hover{
  background-color: rgb(1, 69, 130);
}
#form > div {
  display: flex ;
  justify-content: center;
}
#form > div > a{
  text-decoration: none;
  color: black;
  padding: 0 20px;
  border-left: 1px solid #000;
  font-weight: 600;
  font-size: 20px;
}
#form > div > a:first-child{
  border-left: none;
}
#ptext > p{
  color: rgb(1, 69, 160);
}
