* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 412px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* 상단 */
header {
  height: 100px;
  padding-top: 35px;
}
header > h2 {
  float: left;
  display: inline;
  padding-left: 10px;
}
header > img{
  float: right;
}
/* 프로필 내용 */
/* 상단 프로필 */

#mainprofile{
  height: 50px  ;
  margin: 10px 0;
}

#mainprofile > img{
  float: left;
}
#mainprofile > div{
  float: left;
  text-align: left;
  padding-left: 20px;
  height: 50px;
}
#mainprofile > div > p{
  color: rgba(65, 138, 223, 0.452);
}
#mainprofile > a > button {
  float: right;
  font-size: 33px;
  background-color: rgba(65, 138, 223, 0);
  border: none;
}
#mainprofile > a > button:hover {
  color: rgb(1, 61, 160);
  cursor: pointer;
}

/* 활동 내역 / 쿠폰 / 포인트 */

#coupon_profile{
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(1, 61, 160);
  border-radius: 10px;
  margin: 40px 0;
}
#coupon_profile > a{
  color: #fff;
  width: 135px;
  height: 60px;
  border-left: solid 1px #000;
  text-decoration: none;
  line-height: 1.7;
}
#coupon_profile > a:first-child{
  border-left: none;
}

/* 리뷰 / 스크랩 /본 내역 / 뱃지 */
#buy_profile{
  height: 100px;
  display: flex;
  justify-content: space-around;
  line-height: 2;
  font-size: 16px;
  font-weight: bolder;
  align-items: center;
  border-bottom: 10px solid rgba(83, 79, 79, 0.185);
  padding-bottom: 40px;
  margin-bottom: 30px;
}

/* more profile */
#more_profile > div{
  height: 60px;
  line-height: 60px;
}
#more_profile > div > h3{
  float: left;
}
#more_profile > div > a {
  float: right;
}
#more_profile > div > a > button {
  font-size: 24px;
  background-color: rgba(65, 138, 223, 0);
  border: none;
  cursor: pointer;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid rgba(68, 63, 63, 0.267);  
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
footer > a {
  color: #000;
  text-decoration: none;
}
footer > a > div{
  width: 70px;
  height: 70px;
  float: left;
}
footer > a > div  > p {
  clear: both;
  width: 82px;
  text-align: center;
  position: relative;
  top: 30px;
  right: 26px;
  font-size: 20px;
  font: 600;
}
#home{
  background: url("../image/home_icon_line.png") no-repeat top;
  background-size: 100% 100%;
  padding: 10px 20px 30px 20px;
  background-origin: content-box;
}
#map{
  background: url("../image/pin_icon_line.png") no-repeat top;
  background-size: 100% 100%;
  padding: 10px 20px 30px 20px;
  background-origin: content-box;
}
#chat{
  background: url("../image/chat_icon_line.png") no-repeat top;
  background-size: 100% 100%;
  padding: 10px 20px 30px 20px;
  background-origin: content-box;
}
#profile{
  background: url("../image/person_icon_fill.png") no-repeat top;
  background-size: 100% 100%;
  padding: 10px 20px 30px 20px;
  font-weight: 600;
  background-origin: content-box;
}
#more{
  background: url("../image/more_icon_line.png") no-repeat top;
  background-size: 100% 100%;
  padding: 10px 20px 30px 20px;
  background-origin: content-box;
}