* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 100%;
  height: auto;
}
#content {
  padding-top: 100px;
  width: 100%;
  height: 900px;
  text-align: center;
}
#topMenu {
  margin: 0px auto;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topMenu > div{
  border-bottom: 3px solid rgb(1, 61, 160);
}
#back{
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 30;
}
#topMenu > div > button {
  width: 30px;
  height: 30px;
  border: none;
  background: url("../image/back_button.png")  no-repeat left;
  background-size: contain;
  z-index: 20;
  cursor: pointer;
}
#box1{
  width: 160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box2{
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
}
#textbox{
  width: 400px;
  height: 600px;
  margin: 0px auto;
}

#textbox > h1 {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 400px;
  margin: 0px auto;
}
#textbox > h3{
  text-align: left;
  padding-top: 20px;
}

input {
  position: relative;
  width: 400px;
  height: 70px;
  border: 3px solid rgba(46, 44, 44, 0.5);
  border-radius: 10px;
  font-size: 18px;
}

input:focus {
  border: 3px solid #000;
}

#textbox > input{
  margin: 5px 0;
}
#but{
  position: relative;
  bottom: 1px;
}
#but >  button{
  width: 400px;
  height: 70px;
  background-color: rgb(1, 61, 160);
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
