@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#container{
  width: 412px;
  height: auto;
  margin: 0 auto;
}
button{
  cursor: pointer;
}

/* header */
#head{
  display: flex;
  margin-top: 20px;
}
.back_btn{
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin-right: 20px;
}
.boxSize_1{
  display: flex; 
}
.search_text{
  width: 300px;
  height: 30px;
  background-color:rgba(206, 206, 206, 0.192);
  border: none;
}
.search_btn{
  height: 30px;
  width: 30px;
  background-color:rgba(206, 206, 206, 0.192);
  border: none;

}
.search_btn > img{
  width: 20px;
  height: 20px;
}

/* 내용 */
#content > h3{
  margin: 30px 0 20px;
}
.text{
  font-size: 14px;
  color: #ccc;
}

/* 추가 css */
.add_box {
  display: flex;
  justify-content: space-between;
}
.add_btn {
  border: none;
  background-color: #fff;
}